.main-container {
    position: fixed;
    right: 0;
    left: 0;
    max-width: 80vw;
    height: 100vh;
    margin-left: 290px;
}

/* HEADER*/

.main-container__header {
    background-color: var(--theme-container-background);
    margin: 10px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container__header__navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container__header__navigation__arrow-left {
    margin-right: 1.25rem;
}

.main-container__header__navigation__arrow-left, .main-container__header__navigation__arrow-right {
    background: var(--theme-icon-background);
    background-color: var(--theme-arrow-background);
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main-container__header__search {
    background-color: var(--theme-container-child);
    border: 1px solid transparent;
    border-radius: 500px;
    height: 48px;
    width: 364px;
    display: flex;
    align-items: center;
}

.main-container__header__search__img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.main-container__header__search-input {
    background-color: transparent;
    color: var(--theme-text-secondary);
    border: none;
    padding: 0px 100px 0px 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.main-container__header__search-input::placeholder {
    color: var(--theme-text-secondary);
}

.main-container__header__search--hover:hover {
    background-color: var(--theme-border-primary);
    border: 2px solid var(--theme-border-secondary);
    transition: .3s;
}

.main-container__header__login {
    display: flex;
    align-items: center;
}

.main-container__header__login-subscribe {
    background-color: transparent;
    color: var(--theme-text-primary);
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin-right: 32px;
}

.main-container__header__login-subscribe--hover:hover {
    color: var(--theme-text-secondary);
    font-size: 16.5px;
    margin-right: 30px;
}

.main-container__header__login-enter {
    width: 100px;
    margin: 1px 1px;
}

.main-container__header__login-enter--hover:hover {
    background-color: var(--theme-border-secondary);
    width: 102px;
    margin: 0px;
    padding: 15px;
}

.main-container__explore {
    background-color: var(--theme-container-background);
    color: var(--theme-text-secondary);
    font-weight: 900;
    margin: 0px 10px;
    padding: 30px 16px 16px 16px;
}

.main-container__explore__content {
    display: flex;
    flex-direction: column;
}

.main-container__explore__content .title {
    font-size: 35px;
    margin-bottom: 40px;
}

.main-container__explore__content .subtitle {
    font-size: 24px;
}