@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--cor1);
    font-family: var(--font1);
}

.button {
    border-radius: 20px;
    padding: 8px;
}

.big-button {
    border-radius: 60px;
    padding: 14px 0px;
}

.sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
}

.sidebar__background-parent {
    border-right: 1px solid var(--cor6);
    border-bottom: 2px solid var(--cor6);
    border-radius: 8px;
}

.sidebar__navigation {
    background-color: var(--cor2);
    padding: 16px 0px 0px 16px;
}

.sidebar__navigation__logo {
    padding-bottom: 5px;
    display: flex;
}

.sidebar__navigation__logo__img {
    width: 90px;
}

.sidebar__navigation__list {
    margin-top: 20px;
    padding: 0px 20px 10px 5px;
}

.sidebar__navigation__item-list {
    padding: 10px 0px;
}

.sidebar__navigation .fa {
    font-size: 20px;
    margin-right: 10px;
    padding-right: 8px;
}

.sidebar__navigation__item-list__link {
    color: var(--cor3);
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}

.sidebar__navigation__item-list__link--active:hover {
    color: var(--cor4);
    transition: .3s;
}

.sidebar__library {
    background-color: var(--cor2);
    color: var(--cor3);
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    padding: 4px 8px;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sidebar__library__content {
    display: flex;
    justify-content: space-between;
}

.sidebar__library__content__button {
    background-color: transparent;
    color: var(--cor3);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    border: none;
    margin-right: 10px;
    padding: 20px 10px;
    cursor: pointer;

    display: flex;  
}

.sidebar__library__content__button .fa {
    font-size: 20px;
    margin-right: 10px;
    padding-right: 8px;
}

.sidebar__library__content__button--active:hover {
    color: var(--cor4);
    transition: .3s;
}

.sidebar__library__content .fa-plus {
    margin: 13px 2px;
    padding: 10px;
    cursor: pointer;
}

.sidebar__library__content .fa-plus--active:hover {
    color: var(--cor4);
    background-color: var(--cor5);
    border-radius: 50%;
    transition: color .3s;
}

.sidebar__section-playlist__content{
    background-color: var(--cor5);
    border-radius: 10px;
    margin: 8px 0px;
    padding: 16px 20px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.sidebar__section-playlist__content {
    display: flex;
    flex-direction: column;
}

.sidebar__section-playlist__content .text {
    color: var(--cor4);
}

.sidebar__section-playlist__content .title {
    font-weight: 900;
}

.sidebar__section-playlist__content .subtitle {
    font-size: 12px;
    font-weight: 700;
}

.sidebar__section-playlist__content__button {
    background-color: var(--cor4);
    color: var(--cor1);
    font-size: 12px;
    font-weight: 900;
    width: 113px;
    border: none;
    margin: 3px 0px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__section-playlist__content__button--active:hover {
    background-color: var(--cor7);
    width: 115px;
    padding: 10px;
    margin: 1px 0px;
}

.sidebar__cookies {
    margin: 25px 20px;
}

.sidebar__cookies__link {
    color: var(--cor4);
    font-size: 11px;
    font-weight: 500;
    text-decoration: none;
}

.sidebar__cookies__link--active:hover {
    text-decoration: underline;
}

.sidebar__languages__button {
    background-color: transparent;
    color: var(--cor4);
    font-weight: bold;
    width: 160px;
    border: 1px solid var(--cor7);
    margin: 8px;
    cursor: pointer;
    align-items: center;
}

.sidebar__languages__button--active:hover {
    border-color: var(--cor4);
    width: 162px;
    padding: 10px;
    margin: 6px;
}

.disclaimer-premium {
    background-image: linear-gradient(to right, var(--grad1), var(--grad2));
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 24px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.disclaimer-premium__content {
    color: var(--cor4);
    display: flex;
    flex-direction: column;
}

.disclaimer-premium__content .title {
    font-size: 12px;
    margin-bottom: 10px;
}

.disclaimer-premium__content .subtitle {
    font-size: 14px;
    font-weight: 700;
}

.disclaimer-premium__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disclaimer-premium__button__btn {
    background-color: var(--cor4);
    color: var(--cor1);
    font-size: 16px;
    border: none;
    font-weight: 900;
    width: 230px;
    margin: 2px 0px;
    cursor: pointer;
    flex-shrink: 0;
}

.disclaimer-premium__button__btn--active:hover {
    background-color: var(--cor7);
    padding: 15px;
    width: 235px;
    margin: 1px 0px;
}