@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Orbitron:wght@400..900&display=swap');

:root {
    --theme-background: #020D05; 
    --theme-container-background: #032613; 
    --theme-text-primary: #5E8C5D; 
    --theme-text-secondary: #fff; 
    --theme-container-child: #044024; 
    --theme-border-primary: #01401C; 
    --theme-border-secondary: #d3d3d3; 

    --theme-icon-background: #012611;
    --theme-arrow-background: rgba(0,0,07);

    --theme-gradient-start: #8C1BAB;
    --theme-gradient-end: #448AFF;

    --font-dm-sans: 'Dm sans', Arial, Helvetica, sans-serif;
}